/* <<==== Css reset and Common code start ====>> */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}
.container {
  padding: 1% 7%;
}
.btn {
  width: 15rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  background-image: linear-gradient(to left, #ff4800, #8301bb);
  color: black;
  border-radius: 0.6rem;
  transition: 0.5s;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  color: white;
}
.sub-title {
  font-size: 3.2rem;
  color: #111;
}

/* <<==== Css reset and Common code end ====>> */

/* <<==== Header style start here ====>> */
#header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url("./images/banner.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  background-image: linear-gradient(to left, #5d0881, #230231);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1% 7%;
  z-index: 99;
}
.logo {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.5s;
}
.logo:hover {
  transform: rotate(-2deg);
}
.nav-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-item {
  display: inline-block;
  color: white;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  transition: 0.5s;
  border-radius: 0.6rem;
}
.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fc4000;
}
.nav-bar i {
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
  display: none;
}

/* <<==== Main header content start ====>> */
.main-heading {
  font-size: 4.5vw;
  color: white;
  padding-top: 18%;
  width: 80%;
  text-align: center;
  margin: auto;
}
.search-bar {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  height: 8rem;
  margin: 3rem auto;
  padding: 0.6rem 1rem 0.6rem 3rem;
  border-radius: 2rem;
}
.form {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form label {
  font-size: 1.5rem;
  font-weight: bold;
}
.form input {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 0;
  color: #111;
}
.form button {
  width: 6rem;
  height: 6rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #af0261, #8301bb);
  border-radius: 50%;
  text-align: center;
}
.form button i {
  font-size: 2.2rem;
  color: black;
  transition: 0.5s;
}
.form button:hover i {
  color: white;
}
.location-div {
  flex: 1;
}

/* <<==== Main header content end ====>> */

/* <<==== Header style end here ====>> */

/* todo <<==== Main style start here ====>> */
#main {
  background-image: linear-gradient(45deg, #a98eda, #c5b3e6, #a98eda);
  padding-bottom: 5rem;
}

/* <<==== Exclusives section section start ====>> */
.exclusives-box {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exclusive-page {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.exclusive-page h4 {
  font-size: 1.8rem;
  color: #333;
}
.exclusive-page button {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #8301bb;
  color: white;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.5s;
}
.exclusive-page button:hover {
  background-color: #af0261;
}

.exclusives__img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.exclusives__img-box {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 0.6rem;
  transition: 0.2s;
  cursor: pointer;
  height: 20rem;
}
.img-box {
  overflow: hidden;
  border-radius: 0.6rem;
}
.img {
  width: 100%;
  height: 20rem;
  display: block;
  transition: 0.5s;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.img-box:hover .img {
  transform: scale(1.5);
}
.img-title {
  color: white;
  display: grid;
  place-content: center;
  row-gap: 1rem;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  overflow: hidden;
  background-color: rgba(0 0 0/50%);
  transition: 0.7s;
  z-index: 3;
  border-radius: 0.6rem;
}
.img-title:hover {
  height: 100%;
}
.img-title h4 {
  font-size: 2.3rem;
}
.img-title h5 {
  font-size: 1.5rem;
}
.img-title p {
  font-size: 1.4rem;
  color: #d9d9d9;
}
.exc-price {
  font-size: 1.8rem;
  color: #ffc107;
}
.img-btn {
  width: 12rem;
  margin: 0 auto;
  background-color: #8301bbe9;
  color: #c9c9c9;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  transition: 0.5s;
}
.img-btn:hover {
  color: white;
}
/* <<==== Exclusives section section end ====>> */

/* <<==== Trending places section section start ====>> */
.trending-places {
  padding: 5rem 0 3rem 0;
}

.trending {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.trending div {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  margin-top: 3rem;
  transition: 0.5s;
}
.trending div:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.trending img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 0.6rem;
}
.trending h3 {
  font-size: 2.4rem;
  margin: 1rem 0;
}
/* <<==== Trending places section section end ====>> */

/* <<==== Cta section section start ====>> */

.cta {
  margin: 8rem 0;
  background-image: linear-gradient(to right, #3f2321, transparent),
    url("./images/banner-2.png");
  background-size: cover;
  background-position: center;
  padding: 5%;
  border-radius: 0.6rem;
  color: #fff;
}

.cta-content h3 {
  font-size: 4vw;
}
.cta-content p {
  font-size: 1.8rem;
  margin: 2rem 0;
}
.cta-btn {
  padding: 1.2rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  background-image: linear-gradient(to left, #af0261, #8301bb);
  color: black;
  border-radius: 0.6rem;
  transition: 0.5s;
  display: inline-block;
}
.cta-btn:hover {
  color: white;
}
/* <<==== Cta section section end ====>> */

/* <<==== Travelers-stories section section start ====>> */

.stories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.stories figure {
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  margin-top: 3rem;
}
.stories figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 0.6rem;
}
.stories figure p {
  font-size: 1.6rem;
  text-align: center;
  color: white;
  background-color: rgba(0 0 0/50%);
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  display: grid;
  place-content: center;
  padding: 2rem;
  border-radius: 0.6rem;
  overflow: hidden;
  transition: 0.7s;
  font-style: italic;
}
.stories figure p:hover {
  height: 100%;
  font-size: 1.8rem;
  transition: 0.7s;
}
.start-btn {
  background-image: linear-gradient(45deg, #8301bb, #a98eda);

  display: block;
  margin: 5rem auto;
  width: 30vw;
  text-align: center;
  padding: 1.2rem 0;
  font-size: 1.7rem;
  font-style: italic;
  color: #333;
}
/* <<==== Travelers-stories section section end ====>> */

/* <<==== About msg section section start ====>> */
.about-msg {
  padding: 5rem 0 2rem 0;
}
.about-msg h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.about-msg p {
  font-size: 1.7rem;
  font-style: italic;
  text-align: center;
  color: #333;
}
.about-bar {
  width: 60%;
  height: 0.2rem;
  margin: 0 auto;
  text-align: center;
  border-bottom: 0.2rem solid #ccc;
}
/* <<==== About msg section section end ====>> */

/* <<==== Previous next section start ====>> */
.previous__next-parent {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.previous-btn {
  padding: 1.2rem 2rem;
  background-image: linear-gradient(to left, #af0261, #8301bb);
  font-size: 1.5rem;
  color: #111;
  border-radius: 0.6rem;
  transition: 0.5s;
  font-weight: bold;
  text-align: center;
}
.next-btn {
  padding: 1.2rem 2rem;
  background-image: linear-gradient(to right, #af0261, #8301bb);
  font-size: 1.5rem;
  color: #111;
  border-radius: 0.6rem;
  transition: 0.5s;
  font-weight: bold;
  text-align: center;
}
.previous-btn:hover,
.next-btn:hover {
  color: white;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.buttons button {
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  background-color: #8301bb;
  border-radius: 0.6rem;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.buttons button:hover {
  background-color: #af0261;
}
/* <<==== Previous next section end ====>> */

/* todo <<==== Main style end here ====>> */

/*  <<==== Footer style start here ====>> */
#footer {
  background-image: linear-gradient(to right, #5d0881, #230231);
  padding: 5rem 7%;
  color: white;
}
#footer h3 {
  font-size: 2.4rem;
}
.footer-content p {
  font-size: 1.4rem;
  font-style: italic;
  margin: 1.5rem 0;
  text-align: justify;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.content-one {
  flex: 1.5;
}
.content-two {
  flex: 1;
  margin-left: 3rem;
}
.content-three {
  flex: 1;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}
.footer-link {
  color: white;
  font-size: 1.6rem;
  display: inline-block;
  transition: 0.5s;
}
.footer-link:hover {
  color: #ffc107;
}

.footer-bar {
  width: 100%;
  height: 0.1rem;
  color: #ddd;
  margin: 1rem 0;
  display: none;
}

.social-icon a {
  font-size: 2.2rem;
  color: white;
  margin: 0.5rem;
  transition: 0.5s;
}
.social-icon a:hover {
  color: #ffc107;
}
.copy {
  color: #d2d2d2;
}
.designer {
  color: #ffc107;
}

/*  <<==== Footer style end here ====>> */
